.zupa {
  background-color: red !important;
}
.dd-list {
  width: 500px;
  max-width: 100%;
  /* border: solid 1px #ccc; */
  min-height: 60px;
  display: block;
  /* background: black; */
  /* border-radius: 4px; */
  overflow: hidden;
  position: relative;
}
/* .example-list::before {
  content: '';
  display: block;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.1);
  width: 100px;
  height: 100%;
  pointer-events: none;
}
.example-list::after {
  content: '';
  display: block;
  position: absolute;
  background-color: rgba(0, 255, 0, 0.1);
  width: 100px;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 100;
} */

.dd-item {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  cursor: move !important;
  background: rgb(77, 155, 207);
  font-size: 14px;
  max-width: 280px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.example-handle {
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* .cdk-drag-placeholder {
  opacity: 0;
} */

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dd-item:last-child {
  border: none;
}

.dd-list.cdk-drop-list-dragging .dd-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Moje */
.level-1 {
  margin-left: 20px;
}
.level-2 {
  margin-left: 120px;
}
.level-3 {
  margin-left: 220px;
}

.dd-placeholder {
  z-index: 1000;
  min-height: 61px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.dd-placeholder > div {
  border: dashed 1px #999;
  min-height: 59px;
  background-color: #eee;
  margin-left: 20px;
  max-width: 280px;
}
.placeholder-1 {
  padding-left: 0;
}
.placeholder-2 {
  padding-left: 100px;
}
.placeholder-3 {
  padding-left: 200px;
}
.dd-item.cdk-drag-preview {
  height: auto !important;
}
